body,
html {
	padding: 0;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	height: 50vh;
}

.wrapper {
	height: 50vh;
}


#footer {
	margin-top:1em;
}

.devicons{
	color:white;
	font-size:5em;
	margin-right:0.3em;
	color:#BFC0C0;
	cursor: hand;
	text-decoration: none;
}



.devicons:hover{
	color:#ffffff;
}

.header img {
	width: 100%;
}



h1 {
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1.5em;
	color: #16a085;
}

.flex-x-item:nth-of-type(1) {
	background-color: white;
	min-width: 35vw;
}

.flex-x {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}


.flex-x-item {
	background-color: #101f27;
	padding: 0em;
	color: white;
	font-size: 0.9em;
	line-height: 2;
}

.flex-y {
	flex-direction: column;
	height: 100vh;
	display: flex;
	align-items: stretch;
	justify-content: center;
}


.flex-y-item {
	padding-left: 5em;
	padding-right:5em;
}