body,html {
	padding: 0;
	margin: 0;

	font-family: 'Montserrat', sans-serif;

	}

	.wrapper {
		display: grid;
		grid-template-rows: 1fr 1fr;
		height:100vh;


}

.section {
	display: flex;
	justify-content: center;
	align-items: stretch;

	font-size: 1em;
	color: white;
	line-height: 2;
	
	font-weight: 20;
	cursor: pointer;
	transition: all .3s ease;


	width: calc(100vw-2px);
	

}




.section:nth-of-type(2) {
	background-color: #101f27;
	padding:5em;
}

.section img{
	width:100%;
	height:auto;
}

h1{
	font-weight: 900;
	text-transform: uppercase;
	font-size: 1.5em;
	color:#16a085;
}






.flex-container {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-flex-wrap: nowrap;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	-webkit-justify-content: flex-start;
	-ms-flex-pack: start;
	justify-content: flex-start;
	-webkit-align-content: stretch;
	-ms-flex-line-pack: stretch;
	align-content: stretch;
}



.flex-item {
	-webkit-order: 0;
	-ms-flex-order: 0;
	order: 0;
	-webkit-flex: 0 1 auto;
	-ms-flex: 0 1 auto;
	flex: 0 1 auto;
	-webkit-align-self: auto;
	-ms-flex-item-align: auto;
	align-self: auto;
	margin-right:5em;
}


